<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/violetnote-wss-test.log}"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>